body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: #30A8FF;
}

.quem-somos{
    background-color: #3CBAFF;
    color: white;
}

.margin{
    padding-bottom: 50px; 
    padding-top: 10px; 
}

.parceiros{
    background-color: #48CCFF;
}

.bg-footer{
    background-color: black;
    color: white;
}